[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[includeIf "gitdir:~/work/"]
	path = .gitconfig_work
[includeIf "gitdir:~/ownProjects/"]
	path = .gitconfig_personal
[includeIf "gitdir:~/"]
	path = .gitconfig_personal
[core]
	excludesFile = ~/.gitignore_global
	editor = code
[alias]
	pushall = "!git push github && git push gitlab"
	l = log --graph --pretty=format':%C(yellow)%h%Creset %s %C(green)(%an, %ad%Creset)' --date=iso-local
	c = commit
	s = status
	r = remote -v
	b = branch -v
[pull]
	rebase = false
[push]
	default = current
[color]
	branch = auto
	status = auto
	diff = auto
	interactive = auto
	ui = auto